
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>Img:</strong>
  <%= @article.imgurl %>
</p>
<p>
  <strong>Price:</strong>
  <%= @article.price %>
</p>
<h2>Comments</h2>
<%= render @article.comments %>
  <p>

 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
  <p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', new_article_path %>
